* {
    box-sizing: border-box;
}

body {
    background: url('../images/dark-honeycomb.png');
    margin: 10px;
    color: #fefefe;
}

header {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    padding: 20px 5px 20px 5px;
}

main {
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    line-height: 2;
    font-size: 1.1em;
}

li {
    border-bottom: 2px solid grey;
    text-indent: 15px;
}

.numGuess {
    display: inline-block;
    width: 60%;
    text-align: center;
    font-size: 2em;
}

.winAndLoss {
    display: inline-block;
    font-size: 1.3em;
}

.gemContainer {
    text-align: center;
}

.scoreCount {
    text-align: center;
    width: 60%;
    font-size: 2em;
}

.userScore {
    color: #33db20;
}

.gem {
    margin: 10px;
    display: inline-block;
}